* {
  box-sizing: border-box;
  font-size: 24px;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: #f6f7f8;
  max-width: 1440px;
}

h2 {
  font-size: 61px;
  font-weight: 700;
}

ul {
  margin: 0;
}

input::placeholder {
  color: #d1d1d1; /* Setze hier deine benutzerdefinierte Farbe */
}
.formAddTasks {
  display: flex;
  flex-direction: column;
}

.overInputFields {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 976px;
  margin-bottom: 120px;
}

.fillOut {
  width: 440px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.line {
  border: 1px solid #d1d1d1;
  height: 455px;
}

.overField {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.overField label {
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
}

.overAddSubtasks {
  position: relative;
  display: flex;
  align-items: center;
}

.fieldInput {
  background-color: white;
  border-radius: 10px;
  border: solid 1px #d1d1d1;
  padding: 12px 21px;
  width: 100%;
}

.marginBottom {
  margin-bottom: 24px;
}

.overField textarea {
  border-radius: 10px;
  border: solid 1px #d1d1d1;
  height: 120px;
  padding: 12px 21px;
  margin-bottom: 24px;
}

.overField textarea::placeholder {
  color: #d1d1d1;
}

.overInputAssignedTo {
  position: relative;
  display: flex;
  align-items: center;
}

.overaddAssignedTo {
  position: relative;
  align-items: center;
  background-color: white;
  border-radius: 10px;
}

.listContacts {
  background-color: white;
  border-radius: 10px;
  list-style-type: none;
  padding: 0;
}

.listContacts li {
  display: flex;
  justify-content: space-between;
  padding: 7px 16px;
  border-radius: 10px;
  background-color: white;
}

.listContacts li:hover {
  background-color: ;
}

.contactPerson {
}

.overFormButtons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 8px;
  width: 976px;
}

.formButtons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  border-radius: 10px;
  font-size: 21px;
  padding: 16px;
  border: none;
  cursor: pointer;
}

.setButtons {
  display: flex;
  flex-direction: row;
  gap: 16px;
}

.clearButton {
  border: 1px solid #2a3647;
}

.createButton {
  background-color: #2a3647;
  color: white;
}

.overPrioButtons {
  display: flex;
  gap: 8px;
  margin-bottom: 24px;
  width: 100%;
}

.prioButtons {
  flex: 1;
  border: unset;
  background-color: white;
  width: 136px;
  padding: 16px 10px;
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  box-shadow: 0px 0px 4px 0px #0000001a;
}

.prioButtons:hover {
  box-shadow: 0px 4px 4px 0px #00000040;
}

.urgentButton {
  font-weight: 700;
  color: white;
  background-color: #ff3d00;
}

.mediumButton {
  font-weight: 700;
  color: white;
  background-color: #ffa800;
}

.lowButton {
  font-weight: 700;
  color: white;
  background-color: #7ae229;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  background: transparent;
  background-image: url("/assets/icons/arrowDropdown.svg");
  background-repeat: no-repeat;
  background-position: calc(100% - 10px) center;
  border: 1px solid #dfdfdf;
  border-radius: 2px;
  margin-right: 2rem;
  padding: 1rem;
  padding-right: 2rem;
}
.changeSymboles {
  display: flex;
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

.centerSymbol {
  display: flex;
}

.centerSymbol img {
  margin-right: 4px;
}

.centerSymbol:first-child {
  border-right: 1px solid #a8a8a8;
}

.showEntrySubtask {
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  cursor: pointer;
}

.edit {
  display: none;
  flex-direction: row;
}

.changeTextSubtasks {
  margin-left: -40px;
  list-style-type: none;
}

.changingTextInputField {
  position: relative;
  border: unset;
  border-bottom: 1px solid #9747ff;
}

.overChangingSubtask {
  display: flex;
}

.overAllChange {
  display: flex;
  right: 10px;
  cursor: pointer;
  background-color: white;
  border-bottom: 1px solid #9747ff;
}

.fullWidth {
  width: 100%;
}

.required {
  align-self: flex-end;
}

.showEntrySubtask:hover .edit {
  display: flex;
}

@media only screen and (max-width: 1010px) {
  h2 {
    font-size: 47px;
  }

  .overInputFields {
    flex-direction: column;
    justify-content: center;
    width: 100%;
  }

  .overField {
    justify-content: center;
  }

  .overField input {
    width: 396px;
  }

  .line {
    display: none;
  }

  .overFormButtons {
    justify-content: flex-end;
    width: 396px;
  }

  .required {
    display: none;
  }

  .overField textarea {
    width: 396px;
  }

  .overPrioButtons {
    width: 396px;
  }

  .overField label {
    font-size: 16px;
  }

  .overField input {
    font-size: 16px;
  }

  .overField textarea {
    font-size: 16px;
  }

  .prioButtons {
    font-size: 16px;
  }

  .setButtons {
    font-size: 21px;
  }

  .overAddSubtasks {
    width: 396px;
  }
}
