:root {
  --darkgray: rgb(42, 54, 71);
  --background-gray: rgb(246, 247, 248);
}

html {
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: transparent;
  box-sizing: border-box;
  font-family: "Inter";
}

body {
  background-color: var(--background-gray);
  margin: 0 auto;
  width: 100%;
  height: 100vh;
  position: relative;
  min-width: 320px;
}

#dummy_header {
    position: fixed;
    width: 100%;
    height: 80px;
    background-color: darkblue;
    z-index: 10;
}

#dummy_menu {
    position: fixed;
    width: 232px;
    height: 100vh;
    background-color: rgba(63, 63, 151, 0.5);
    z-index: 12;
}

.board_ctn {
  max-width: 1208px;
  width: calc(90% - 232px);
  /* border: 1px solid; */
  margin-left: calc(232px + 5%);
  padding-top: 120px;
  & .board_header {
    position: relative;
    width: 100%;
    margin: 0 auto 50px auto;

    & .board_header_headline_add {
      display: flex;
      justify-content: space-between;
      align-items: center;
      /* gap: 32px; */
      /* height: 48px; */
      & .board_header_headline {
        font-size: 73px;
        font-weight: 700;
      }
      & .add_task_ctn {
        width: 160px;
        height: 48px;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgb(42, 54, 71);
        border-radius: 10px;
        & span {
          font-size: 21px;
          font-weight: 700;
        }
      }
    }
    & .find_task_ctn {
        position: absolute;
        top: 20px;
        right: 195px;
        background-color: white;
        display: flex;
        width: 280px;
        height: 32px;
        border: 1px solid #a8a8a8;
        border-radius: 10px;
        padding: 8px 16px;
      & #name_of_task_input {
        border: none;
        border-right: 1px solid #d1d1d1;
        outline: none;
        padding: 2px;
        font-size: 20px;
        width: 232px;
        &::placeholder {
          color: lightgray;
          font-weight: 400;
        }
      }
      & .button_find_task {
        height: 32px;
        width: 48px;
        display: flex;
        justify-content: right;
        align-items: center;
      }
    }
  }
  & .board_task_area {
    display: flex;
    gap: 24px;
    padding: 0 64px;
    /* flex-wrap: wrap; */
    & .task_section {
      width: 252px;
      & .task_section_header {
        width: 244px;
        font-size: 20px;
        color: rgba(66, 82, 110, 1);
        font-weight: 700;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 15px;
        & .board_move_task_btn {
          width: 24px;
          height: 24px;
          border-radius: 8px;
          border: 2px solid rgba(42, 54, 71, 1);
          display: flex;
          align-items: center;
          justify-content: center;
          &:hover {

          }
        }
      }
      & .tasks_area {
        & .task_nothing_todo {
          width: 100%;
          height: 48px;
          color: rgba(168, 168, 168, 1);
          background-color: rgba(231, 231, 231, 1);
          border: 1px dashed rgba(168, 168, 168, 1);
          box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.16);
          border-radius: 10px;
          font-size: 16px;
          font-weight: 400;
          display: flex;
          justify-content: center;
          align-items: center;
        }
        & #section_feedback_nothing_todo {
          display: none;
        }
        & #section_in_progress_nothing_todo {
          display: none;
        }
        & #section_done_nothing_done {
            display: none;
        }
        & .task_section_tasks_area {
            & .single_task_ctn {
                width: 220px;
                background-color: white;
                box-shadow: 0 0 10px rgba(0, 0, 0, 0.08);
                border-radius: 24px;
                padding: 16px;
                margin-bottom: 20px;
                & .single_task_category {
                width: fit-content;
                border-radius: 10px;
                padding: 4px 16px;
                font-size: 16px;
                color: white;
                background-color: rgba(31, 215, 193, 1);
                margin-bottom: 20px;
                }
            & .single_task_headline {
                font-size: 16px;
                font-weight: 700;
                color: rgba(42, 54, 71, 1);
                margin-bottom: 8px;
            }
            & .single_task_description {
                font-size: 16px;
                font-weight: 400;
                color: rgba(168, 168, 168, 1);
                margin-bottom: 20px;
            }
            & .single_task_progress_ctn {
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin-bottom: 10px;
                & .single_task_progress_bar_background {
                    width: 50%;
                    background-color: rgb(244, 244, 244);
                    height: 8px;
                    border-radius: 16px;
                    & .single_task_progress_bar_process_line {
                    width: 50%;
                    height: 8px;
                    border-radius: 16px;
                    background-color: rgb(69, 137, 255);
                    }
                }
            }
            & .single_tasks_contacts_and_priority {
              display: flex;
              justify-content: space-between;
              align-items: center;
              & .single_task_contacts_ctn {
                display: flex;
                position: relative;
                height: 32px;
                width: 200px;
                & .single_task_single_contact {
                  position: absolute;
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  font-size: 12px;
                  font-weight: 400;
                  width: 32px;
                  height: 32px;
                  color: white;
                  background-color: rgb(110, 82, 255);
                  border: 1px solid white;
                  border-radius: 50%;
                  &:nth-child(1) {
                    left: 0px;
                  }
                  &:nth-child(2) {
                    left: 26px;
                  }
                  &:nth-child(3) {
                    left: 52px;
                  }
                  &:nth-child(4) {
                    left: 78px;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

#tasks_area_await_feedback {
  .single_task_progress_ctn {
    display: none;
  }
}

#task_section_done {
  & .single_task_progress_bar_process_line {
    width: 100%;
  }
}

@media (max-width: 1500px) {
  .board_ctn {
    & .board_header {
      margin: 0px 0px 50px 0px;
        & .board_header_headline_add {
            margin-bottom: 20px;
            & .board_header_headline {
                font-size: 47px;
            }
            & .add_task_ctn {
                width: 48px;
                & span {
                    display: none;
                }
            }
        }
        width: 320px;
        & .find_task_ctn {
            position: unset;
        }
    }
    & .board_task_area {
        flex-direction: column;
        padding: 0;
        & .task_section{
        & .task_section_header {
          width: 290px;
          & .tasks_area {
            & .task_section_tasks_area {
              display: flex;
              gap: 20px;
            }
          }
        }
    }
  }
}

@media(max-width: 1000px) {
    #dummy_menu {
        width: 100%;
        height: 80px;
        bottom: 0;
        left: 0;
    }
    .board_ctn {
        width: 90%;
        height: calc(100vh - 180px);
        margin: 0px auto;
        padding-top: 100px;
        overflow-y: scroll;
        & .board_task_area {
           
            height: calc(100vh - 200px);
        }
    }
}

@media (max-width: 750px) {
    .board_ctn {
        /* width: 310px; */
        width: 90%;
        padding-right: 10px;
        margin: 0 auto;
        & .board_header {
          width: 290px;
          & .find_task_ctn {
            width: 256px;
          }
        }
        & .board_task_area {
            width: 252px;
            margin-left: 0px;
            padding: 0;
            & .task_section {
              
                }
                & .tasks_area {
                    width: 290px;
                    & .task_section_tasks_area {
                    
                }
            }
        }
    }
}
}
