:root {
    --clr-conlist-email: #007CEE;
    --clr-conlist-item-bg-hover: linear-gradient(90deg, rgba(249,249,249,1) 0%, rgba(240,240,240,1) 100%);
    --clr-conlist-item-bg-marked: var(--clr-blue-200);
}

/*############*/
/*## LAYOUT ##*/
/*############*/

body {
    font-size: clamp(1rem, 0.679rem + 1.709vw, 1.5rem);
}

#contentContainer {
    position: relative;
}

@media (768px < width) {
    #contentContainer {
        display: grid;
        grid-template-columns: auto 1fr;
    }
}

/*##################*/
/*## CONTACT LIST ##*/
/*##################*/

#listContainer {
    background-color: white;
}

#newContactButtonContainer {
    background-color: white;
    padding-bottom: 0;
    position: fixed;
    bottom: 5em;
    right: 1em;
    z-index: 100;
}

#newContactButton {
    border-radius: var(--border-radius-circular);
    aspect-ratio: 1;
    padding: 0.6em;
}

#newContactButtonText {
    display: none;
}

#contactInfoButtonMobile {
    border-radius: var(--border-radius-circular);
    aspect-ratio: 1;
    padding: 0 1.5em;
}

#contactListContainer {
    padding: 1.5em;
}

.conlist-item {
    padding: 1.3em 1.8em;
    border-radius: 0.5em;
}

.conlist-person-icon {
    height: 2em;
}

.conlist-email {
    color: var(--clr-conlist-email);
}

.conlist-heading {
    padding: 1em 1.5em;
    border-bottom: 1px solid var(--clr-gray-500);
}

@media (768px < width) {
    #listContainer {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
        overflow-y: auto;
    }

    #newContactButtonContainer {
        display: block;
        position: sticky;
        top: 0;
        padding: 1.5em;
    }

    #newContactButton {
        border-radius: 0.625em;
        aspect-ratio: unset;
    }
    
    #newContactButtonText {
        display: unset;
    }

    #contactListContainer {
        padding: 1em;
        padding-top: 0;
    }

    .conlist-item {
        padding: 1em 1.5em;
    }

    .conlist-item:hover {
        background: var(--clr-conlist-item-bg-hover);
        color: black;
    }

    .conlist-item-marked {
        background-color: var(--clr-conlist-item-bg-marked);
        color: white;
    }
}


/*####################*/
/*## CONTACT DETAIL ##*/
/*####################*/

#detailContainer {
    background-color: lightblue; /*DEBUG*/
    position: absolute;
    min-height: 100%;
    min-width: 100%;
    top: 0;
}

#closeDetailButton {
    position: absolute;
    right: 1em;
    top: 1em;
}

#detailHeadline {
    font-size: 2em;
    font-weight: bold;
}

#coninfoPersonIcon {
    height: 3.9em;
    border: 2px solid white;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.51);
}

#coninfoMonogram {
    font-size: 1.4em;
}

#coninfoNameWrapper {
    display: flex;
    align-items: center;
    gap: 1em;
}

#coninfoName {
    font-size: 1.4em;
    font-weight: bold;
}

#coninfoButtonContainer {
    display: none;
}

@media (768px < width) {
    #detailContainer {
        grid-column: 2 / 3;
        grid-row: 1 / 2;
        overflow: hidden;
    }

    #infoContainer {
        transform: translateX(100%);
        transition: 
            transform 0.25s,
            display 0.25s allow-discrete;
    }

    #infoContainer.show-info {
        transform: none;
    }

    @starting-style {
        #infoContainer.show-info.show-info {
            transform: translateX(100%);
        }
    }

    #coninfoButtonContainer {
        display: flex;
    }

    
}

/*####################*/
/*## CONTACT DIALOG ##*/
/*####################*/

#dialogContact {
    background-color: white;
}

input {
    border: 1px solid red;
    padding: 1em;
}

#CDheaderContainer {
    color: white;
}

#cdPersonIcon {
    height: 4em;
}

#cdCancelButton {
    display: none;
}

@media (768px < width) {
    #cdCancelButton {
        display: unset;
    }
}

/*############*/
/*## TOASTS ##*/
/*############*/

#newContactToast {
    background-color: cyan;
}











/*###########*/
/*## DEBUG ##*/
/*###########*/

.list-item {
    padding: 0.5em 1em;
}

@media (768px < width) { 
    .list-item:hover {
        background-color: green;
    }
    
    .list-item-marked {
        background-color: lightgreen;
        font-weight: 700;
    }

    #closeDetailButton {
        display: none;
    }
}