:root {
    --clr-conlist-email: #007CEE;
    --clr-conlist-item-bg-hover: linear-gradient(90deg, rgba(249,249,249,1) 0%, rgba(240,240,240,1) 100%);
    --clr-conlist-item-bg-marked: var(--clr-blue-200);
}

@media(max-width:960px) {

    @media (orientation: landscape) {
        main {
            display: none;
        }
        .rotate-message {
            color: rgba(41, 171, 226, 1);
            display: block; 
            text-align: center;
            font-size: 20px;
            padding: 20px;
        }
    }
    
    @media (orientation: portrait) {
        main{
            display: block;
        }
        .rotate-message {
            display: none;
        }
    }

}

/*############*/
/*## LAYOUT ##*/
/*############*/

body {
    background-color: var(--clr-bg-main);
    /* font-size: clamp(1rem, 0.679rem + 1.709vw, 1.5rem); */
    /* font-size: clamp(0.9rem, 0.773rem + 0.676vw, 1.2rem); */
}

#contentContainer {
    position: relative;
    overflow-x: hidden;
}

/* @media (768px < width) { */
@media (1010px < width) {
    body {
        /* font-size: clamp(1rem, 0.53rem + 0.744vw, 1.2rem); */
    }

    #contentContainer {
        display: grid;
        grid-template-columns: auto 1fr;
    }
}

/*##########*/
/*## MENU ##*/
/*##########*/

.menu-nav-item[data-filename="contact.html"] {
    background-color: var(--clr-menu-selected);
}

/*##################*/
/*## CONTACT LIST ##*/
/*##################*/

#listContainer {
    min-height: 100%;
    background-color: white;
    box-shadow: var(--shadow-top-inset);
}

#newContactButtonContainer {
    background-color: white;
    padding-bottom: 0;
    position: fixed;
    bottom: 5em;
    right: 1em;
    z-index: 100;
}

#newContactButton {
    border-radius: var(--border-radius-circular);
    aspect-ratio: 1;
    padding: 0.6em;
}

#newContactButtonText {
    display: none;
}

#contactInfoButtonMobile {
    border-radius: var(--border-radius-circular);
    aspect-ratio: 1;
    padding: 0 1.5em;
}

#contactListContainer {
    padding: 1.5em;
}

.conlist-heading {
    padding: 1em 1.5em;
    border-bottom: 1px solid var(--clr-gray-500);
}

.conlist-item {
    overflow: hidden;
    padding: 0.5em 1.8em;
    border-radius: 0.5em;
    gap: 2em;
}

.conlist-person-icon {
    font-size: 0.8em;
    height: 3em;
}

.conlist-name {
    font-size: 1.2em;
}

.conlist-email {
    color: var(--clr-conlist-email);
    margin-top: 0.3em;
}

/* @media (768px < width) { */
@media (1010px < width) {
    #listContainer {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
        overflow-y: auto;
    }

    .rotate-message {
        display: none;
        font-size: clamp(1rem, 0.446rem + 2.768vw, 2.938rem);
    }

    #newContactButtonContainer {
        display: block;
        position: sticky;
        top: 0;
        padding: 1.5em;
        box-shadow: var(--shadow-top-inset);
    }

    #newContactButton {
        border-radius: 0.625em;
        aspect-ratio: unset;
    }
    
    #newContactButtonText {
        display: unset;
    }

    #contactListContainer {
        padding: 1em;
        padding-top: 0;
        max-width: 22em;
        overflow-y: auto;
    }

    .conlist-item {
        padding: 1em 1.5em;
    }

    .conlist-item-hover:hover {
        background: var(--clr-conlist-item-bg-hover);
        color: black;
    }

    .conlist-item-marked {
        background-color: var(--clr-conlist-item-bg-marked);
        color: white;
    }

}


/*####################*/
/*## CONTACT DETAIL ##*/
/*####################*/

#detailContainer {
    position: absolute;
    min-height: 100%;
    min-width: 100%;
    top: 0;
    /* font-size: clamp(0.9rem, 0.708rem + 1.026vw, 1.2rem); */
    padding: 2em 1em;
    background-color: var(--clr-bg-main);
    box-shadow: var(--shadow-top-inset);
}

#closeDetailButton {
    position: absolute;
    right: 1em;
    top: 2em;
}

#detailHeadline {
    font-size: 2.8em;
    font-weight: bold;
}

#infoTagLine {
    position: relative;
    margin-top: 0.5em;
    font-size: 1.2em;
}

#cdDivider {
    height: 3px;
    width: 5em;
    margin-top: 1.2em;
    background-color: var(--clr-turquoise);
    border-radius: var(--border-radius-circular);
}

#infoContainer {
    margin-top: 3em;
}

#coninfoPersonIcon {
    height: 3.9em;
    border: 2px solid white;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.51);
}

#coninfoMonogram {
    font-size: 1.4em;
}

#coninfoNameWrapper {
    display: flex;
    align-items: center;
    gap: 1em;
}

div#coninfoPersonIcon {
    height: 4.8em;
}

p#coninfoName {
    font-size: 2em;
}

#coninfoButtonContainer {
    display: none;
}

#closeDetailButton {
    position: absolute;
    right: 1em;
    top: 2em;
}

#coninfoHeading {
    font-size: 1.2em;
}

#coninfoName {
    font-size: 1.4em;
    font-weight: bold;
}

#coninfoEmail {
    text-decoration: none;
    display: block;
}

.coninfoHeadingH3 {
    font-weight: bold;
}

/* @media (768px < width) { */
@media (1010px < width) {
    #detailContainer {
        grid-column: 2 / 3;
        grid-row: 1 / 2;
        overflow: hidden;
    }

    #infoContainer {
        transform: translateX(120%);
        transition: 
            transform 0.45s,
            display 0.45s allow-discrete;
    }

    #infoContainer.show-info {
        transform: none;
    }

    @starting-style {
        #infoContainer.show-info.show-info {
            transform: translateX(100%);
        }
    }

    #coninfoButtonContainer {
        display: flex;
        gap: 1.5em;
    }

    .coninfo-button {
        gap: 0.4em;
    }

    
}

/*####################*/
/*## CONTACT DIALOG ##*/
/*####################*/

#dialogContact {
    position: relative;
    height: 80%;
    width: 90%;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    background-color: white;
    border-radius: 1.5em;
    border: none;
}

#cdCloseIcon {
    position: absolute;
    top: 2em;
    right: 2em;
}

#cdCloseIconDesktop {
    display: none;
}

#CDheaderContainer {
    flex: 0 0 46%;
    gap: 0.5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1em;
    background-color: var(--clr-menu-bg);
    border-top-left-radius: 1.5em;
    border-top-right-radius: 1.5em;
    color: white;
}

img#cdHeaderLogo {
    display: none;
}

#CDheadline {
    font-size: 2.7em;
    font-weight: bold;
}

#CDtagline {
    font-size: 1.2em;
}

#cdHeaderDivider {
    height: 3px;
    background-color: var(--clr-turquoise);
    width: 4.5em;
    border-radius: var(--border-radius-circular);
    margin-top: 0.8em;
}

#CDcontentContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 0.9em;
    flex: 0 0 54%;
}

#cdPersonIcon {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%,-50%);
    height: 8em;
    border: 3.9px solid white;
    margin: 0 auto;
}

#cdPersonIconAdd {
    height: 3em;
}

#contactForm {
    display: flex;
    flex-direction: column;
    gap: 0.7em;
    transform: translateY(1em);
}

#contactForm input {
    border-radius: 0.4em;
    padding: 0.3em 1.3em;
    font-size: 1.3em;
}

#contactForm img.input-icon {
    height: 1.3em;
}

#nameInputElem + .input-wrapper img.input-icon {
    height: 1em;
}

/*
input {
    border: 1px solid red;
    padding: 1em;
}
*/

#contactForm .validation-message {
    font-size: 0.9em;
}

.cdButtonContainer {
    display: flex;
    justify-content: space-around;
}

#cdCancelButton {
    display: none;
}

#contactForm button {
    margin-top: 1em;
    font-size: 1.2em;
    padding: 0.5em;
}

#contactForm button img.icon-button-icon,
#contactForm button img.icon-button-icon-hover {
    height: 0.7em;
}

#cdCancelButton .icon-button-icon-hover {
    display: none;
} 
#cdCancelButton:hover .icon-button-icon {
    display: none;
} 
#cdCancelButton:hover .icon-button-icon-hover {
    display: unset;
} 

/* Dialog Detailmenu */

#dialogDetailMenu {
    position: absolute;
    right: 1em;
    bottom: 5em;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    background-color: white;
    padding: 1em;
    border-radius: 1em;
    border-bottom-right-radius: 0;
    box-shadow: var(--shadow-button);
}

/*############################*/
/*## CONTACT DIALOG DESKTOP ##*/
/*############################*/

/* @media (768px < width) { */
@media (1010px < width) {

    :root {
        --padding-inline-cdContentContainer: 2em;
    }

    #dialogContact {
        height: unset;
        width: unset;
        flex-direction: row;
        justify-content: start;
        max-width: unset;
    }

    #cdCloseIcon {
        display: none;
    }

    #cdCloseIconDesktop {
        z-index: 10;
    }

    #cdCloseIconDesktop {
        position: absolute;
        top: 2em;
        right: 2em;
    }

    #CDheaderContainer {
        flex: unset;
        border-top-right-radius: 0;
        border-bottom-left-radius: 1.5em;
        justify-content: center;
        align-items: start;
        padding: 0;
        padding-left: 1.5em;
        padding-right: 3em;
    }

    img#cdHeaderLogo {
        height: 3em;
    }

    #CDcontentContainer {
        flex-direction: row;
        justify-content: start;
        align-items: center;
        padding-left: var(--padding-inline-cdContentContainer);
        flex: unset;
    }

    #cdPersonIcon {
        position: static;
        margin: 0;
        transform: none;
        flex: unset;
    }

    #cdMonogram {
        font-size: 2em;
    }

    #contactForm {
        transform: none;
        padding: 6em var(--padding-inline-cdContentContainer);
    }

    #contactForm .input-wrapper {
        min-width: 25em;
    }

    .cdButtonContainer {
        justify-content: start;
        gap: 3em;
    }

    #cdCancelButton {
        display: unset;
    }
}

/*########################################*/
/*## CONTACT DIALOG MOBILE SMALL HEIGHT ##*/
/*########################################*/

@media (width < 1010px) and (height < 700px) {
    #dialogContact {
        font-size: 0.9em;
    }
    
    #cdPersonIcon {
        font-size: 0.6rem;
    }
}

/*############*/
/*## TOASTS ##*/
/*############*/

#newContactToast {
    /* background-color: cyan; */
}

/*##########*/
/*## MISC ##*/
/*##########*/

.mt {
    margin-top: 1em;
}










/*###########*/
/*## DEBUG ##*/
/*###########*/

.nav-menu-resp-frame {
    z-index: 10;
    position: absolute;
}




.list-item {
    padding: 0.5em 1em;
}

/* @media (768px < width) {  */
@media (1010px < width) { 
    .list-item:hover {
        background-color: green;
    }
    
    .list-item-marked {
        background-color: lightgreen;
        font-weight: 700;
    }

    #closeDetailButton {
        display: none;
    }
}