header {
    width: 100%;
    height: 96px;
    margin: 0;
    font-family: "Inter", sans-serif;
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.header-title {
    margin-left: 116px;
    font-size: 20px;
    color: rgba(0, 0, 0, 1);
}

.nav-header {
    width: 104px;
    height: auto;
    margin-right: clamp(1rem, 0.176rem + 3.065vw, 2.188rem);
    gap: 16px;
    display: flex;
    justify-content: space-between;
    align-self: center;
    position: relative;
}

.help-button {
    width: 32px;
    height: 32px;
    margin-top: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.help-button-img {
    width: 20px;
    height: 20px;
}

.initials-circle {
    width: 48px;
    height: 48px;
    border: solid 3px  rgba(42, 54, 71, 1);
    border-radius: 50%;
    color: rgb(41,171,226);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  
}

#navCircle {
    width: 27.94px;
    height: 14.24px;
    font-size: clamp(0.875rem, 0.788rem + 0.323vw, 1rem);
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
}

#navCircle.guest-monogram {
    width: 17.61px;
    height: 20px;
    font-size: clamp(1.125rem, 0.822rem + 1.129vw, 1.563rem);
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
}


.initials-circle:hover {
    background-color: rgba(12, 46, 98, 0.12);
}

.nav-menu-frame {
    width: 150px;
    height: 158px;
    position: absolute;
    right: 16px;
    top: 96px;
    display: none;
}

.nav-menu {
    width: 150px;
    height: 158px;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.1);
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: rgba(42, 54, 71, 1);
    color: rgba(205, 205, 205, 1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 8px;
    
}

.nav-a {
    color: rgba(205, 205, 205, 1);
    text-decoration: none;
    padding-top: 8px;
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 8px;
    font-size: 16px;
    font-weight: 400;
    white-space: nowrap;
    margin-left: 8px;
    margin-right: 8px;
    cursor: pointer;
}

.nav-a:hover {
    background-color: rgb(43, 64, 91);
}

.nav-menu-resp-frame {
    width: 150px;
    height: 204px;
    position: absolute;
    right: -8px;
    top: 100%;
    display: none;
}

.nav-menu-responsive {
    width: 150px;
    height: 204px;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.1);
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: rgba(42, 54, 71, 1);
    color: rgba(205, 205, 205, 1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 8px;
}

.logo-header-div{
    width: clamp(2rem, 0.96rem + 3.871vw, 3.5rem);
    height: 56;
    margin-left: clamp(1rem, 0.176rem + 3.065vw, 2.188rem);
    display: none;
}

.img-logo-header {
    width: clamp(2rem, 0.96rem + 3.871vw, 3.5rem);
    height: auto;
}

@media(max-width:950px) {

    .logo-header-div{
        display: block;
    }

    .header-title {
       display: none;
    }

    .nav-header {
        width: 56px;
        height: auto;
        gap: 0px;
    }

    .help-button {
       display: none;
    }
}

@media(max-width:850px) {

    header {
        height: 84px;
    }

    .nav-header {
        width: 54px;
    }

    .initials-circle {
        width: 46px;
        height: 46px;
    }

    #navCircle.guest-monogram {
        width: 17.61px;
        height: 18px;
    }
    
}

@media(max-width:750px) {

    .nav-header {
        width: 52px;
    }

    .initials-circle {
        width: 44px;
        height: 44px;
    }

    #navCircle.guest-monogram {
        width: 17.61px;
        height: 17px;
    }
}

@media(max-width:650px) {

    .nav-header {
        width: 50px;
    }

    .initials-circle {
        width: 42px;
        height: 42px;
    }

    #navCircle {
        width: 22.94px;
        height: 13.24px;
    }
    
    #navCircle.guest-monogram {
        width: 15.61px;
        height: 16px;
    }
}

@media(max-width:550px) {

    header {
        height: 80px;
    }

    .nav-header {
        width: 48px;
    }

    .initials-circle {
        width: 40px;
        height: 40px;
    }

    #navCircle {
        height: 10.54px;
    }

    #navCircle.guest-monogram {
        width: 11.59px;
        height: 13.16px;
    }
}

