::-webkit-scrollbar {
    width: 8px; 
    height: 8px;
  }
  
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
    border-radius: 10px;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #2a4872;
    background: linear-gradient(
      180deg,
      #315e9e,
      #2a3647
    ); 
    border-radius: 10px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(180deg, #3971c0, #293d58); 
    cursor: pointer;
  }

  .rotate-message {
    display: none;
    font-size: clamp(1rem, 0.446rem + 2.768vw, 2.938rem);
}

  * {
    box-sizing: border-box;
    scroll-behavior: smooth;
    padding: 0;
    margin: 0;
    font-family: "Inter";
  }
  
  .menu-nav-text {
    margin-bottom: 0 !important;
  }

  h2 {
    font-size: 61px;
  }
  
  h3 {
    font-size: 27px;
    margin-bottom: 16px;
  }
  
  h4 {
    font-size: 24px;
  }
  
  h5 {
    font-size: 16px;
  }
  
  p {
    margin-bottom: 24px;
  }
  
  li {
    list-style-position: inside;
  }
  
  .helpArticle {
    display: flex;
    flex-direction: row;
  }
  
  .number {
    font-size: 27px;
    font-weight: 700;
    padding-right: 20px;
  }
  
  .titleSelection {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 16px;
  }
  
  .getBack img {
    height: 32px;
    width: 32px;
    align-self: center;
    cursor: pointer;
  }
  
  .joinName {
    color: #29abe2;
  }
  
  .joinNameInTitle {
    color: #29abe2;
    font-size: 32px;
  }
  
  article {
    margin-bottom: 24px;
  }
  
  .helpTitle {
    font-size: 61px;
  }
  
  .DeveloperAkademieName {
    color: #29abe2;
  }
  
  .titleSelection {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 16px;
  }
  
  .privacyPolicyTitle {
    font-size: 61px;
  }
  
  .getBack img {
    height: 32px;
    width: 32px;
    align-self: center;
    cursor: pointer;
  }

  .main {
    margin-top: 105px;
    margin-left: 116px;
    margin-right: 10%;
  }

  @media(max-width: 1010px) {

    *{
        position: relative;
        overflow: hidden;
    }
    #menuContainer{
        width: 100%;
        position: absolute;
        bottom: 0;
        z-index: 10;
    }

    .main {
        overflow: auto;
        margin-top: 45px;
        margin-left: 6%;
        margin-right: 0;
      }

      .text {
        margin-right: 5%;
        padding-bottom: 100px;
      }
  }

  @media(max-width:945px) {

    @media (orientation: landscape) {
        .main {
            display: none;
        }
        .rotate-message {
            height: 60%;
            color: rgba(41, 171, 226, 1);
            display: block; 
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            padding: 20px;
        }
    }
    
    @media (orientation: portrait) {
        
        .main{
            display: block;
        }
        .rotate-message {
            display: none;
        }
    }
  
  }
  
#contentContainer{
  overflow-y: auto;
  margin: 0;
  padding: 1em 1em;
}