
/*############*/
/*## MOBILE ##*/
/*############*/

body {
    height: 100vh;
    height: 100dvh;
    display: grid;
    grid-template-rows: auto 1fr auto;
    max-width: 1440px;
    margin: 0 auto;
    /*Sabrina: min-width zum Testen hinzugefügt, da Menü unterhalb 350px im Board immer etwas hoch gerutscht ist.*/
    /* min-width: 350px; */
}

#headerContainer {
    grid-row: 1 / 2;
}

#menuContainer {
    grid-row: 3 / 4;
}

#contentContainer {
    grid-row: 2 / 3;
    /* overflow-y: auto;
    scrollbar-color: var(--clr-menu-bg) transparent;
    scrollbar-width: thin; */
    box-shadow: var(--shadow-top-inset);
}

/*#############*/
/*## DESKTOP ##*/
/*#############*/

/* @media (768px < width) { */
@media (1010px < width) {
    body {
        grid-template-columns: auto 1fr;
        grid-template-rows: auto 1fr;
    }

    #headerContainer {
        grid-column: 2 / 3;
        grid-row: 1 / 2;
    }
    
    #menuContainer {
        grid-column: 1 / 2;;
        grid-row: 1 / 3;
    }
    
    #contentContainer {
        grid-column: 2 / 3;
        grid-row: 2 / 3;
    }

}