
h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  margin: 0.5em 0;
}

h2 {
    font-size: 3em;
    font-weight: bold;
}

h3 {
    font-size: 2em;
}

h4 {
    font-size: 1.5em;
}

#contentContainer {
  padding: 3em 1em;
}

.titleSelection {
    display: flex;
    justify-content: space-between;
    align-items: start;
}

#backIcon {
    margin-top: 0.5em;
}
