body {
    width: 100%;
    height: 100vh;
    margin: 0;
    overflow: hidden;
    font-family: "Inter", sans-serif;
    background-color: rgb(246,247,248,1);
    display: flex;
    justify-content:center;
    
}

html {
    -webkit-tap-highlight-color: transparent;
  }

.rotate-message {
    display: none;
    font-size: clamp(1rem, 0.446rem + 2.768vw, 2.938rem);
}

::-webkit-scrollbar {
    background-color: rgb(246,247,248,1);
    width: 8px;
    border-radius: 4px;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(41, 171, 226, 1); 
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border: none;
    display: block;
}

.main-frame-div {
    width: 100%;
    height: 100vh;
    max-width: 1440px;
    display: flex;
    justify-content: center;
    position: relative;
}

.j-logo-img {
    width: clamp(4rem, 2.891rem + 3.942vw, 6.439rem);
    position: absolute;
    top: 80px;
    left: 5.34%;
    object-fit: cover;
    object-position: center;
}

.sign-up-div {
    width: 41.52%;
    height: 630px;
    min-width: 569px;
    margin-top: 197px;
    background-color: rgba(255,255,255);
    box-shadow: 0px 0px 4px 0px  rgba(0, 0, 0, 0.1);  
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.arrow-div {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: rgba(255,255,255);
    position: absolute;
    top: 60px;
    left: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    cursor: pointer;
}

.arrow-Img-a {
    width: 21.33px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.arrow-Img {
    width: 70%;
}

.arrow-div:active {
    background-color: rgb(238, 238, 238, 1);
    
}

.arrow-Img:active {
    transform: scale(1.1);
}

h1 {
    margin: 0;
}

.sign-up-header {
    font-size: clamp(2.938rem, 2.369rem + 2.02vw, 4.188rem);
    font-weight: 700px;
    margin-top: 40px;
    margin-bottom: 15px;
}

.divider {
    width: 25%;
    height: 3px;
    background-color: rgba(41, 171, 226, 1);
}


.log-input {
    height: 48px;
    width: 100%;
    padding-left: 4.7%;
    font-size: clamp(1.125rem, 1.089rem + 0.179vw, 1.25rem);
    font-weight: 400;
    color:black;
    border: solid 1px rgb(209, 209, 209);
    border-radius: 10px;
    outline: none;
    display: flex;
    align-items: center;
}

.log-input-pass {
    height: 48px;
    width: 100%;
    padding-left: 4.7%;
    font-size: clamp(1.125rem, 1.089rem + 0.179vw, 1.25rem);
    font-weight: 400;
    color: black;
    border: solid 1px rgb(209, 209, 209);
    border-radius: 10px;
    outline: none;
    display: flex;
    align-items: center;
}

.log-input-confirm-pass {
    height: 48px;
    width: 100%;
    padding-left: 4.7%;
    font-size: clamp(1.125rem, 1.089rem + 0.179vw, 1.25rem);
    font-weight: 400;
    color: black;
    border: solid 1px rgb(209, 209, 209);
    border-radius: 10px;
    outline: none;
    display: flex;
    align-items: center;
}

.log-input:focus {
    outline: none;
    border: solid 1px  rgba(41, 171, 226, 1); 
}

.log-input-pass:focus {
    outline: none;
    border: solid 1px  rgba(41, 171, 226, 1); 
}

.log-input-confirm-pass:focus {
    outline: none;
    border: solid 1px  rgba(41, 171, 226, 1); 
}

.log-input-confirm-pass.input-error {
    border: solid 1px rgba(255, 0, 31, 1);
}

::placeholder {
    color: rgb(209, 209, 209);
    font-size: 20px;
    font-weight: 400;
}

.name-input-div {
    width: 70.56%;
    height: 48px;
    margin-bottom: 24px; 
    border-radius: 10px;
    display: flex;
    align-items: center;
    position: relative;
    margin-top: 30px;
}

.name-Img {
    width: 24px;
    position: absolute;
    right: 4.7%;
    top: 11.640px;;
}

.email-input-div {
    width: 70.56%;
    height: 48px;
    margin-bottom: 24px;  
    border-radius: 10px;
    display: flex;
    align-items: center;
    position: relative;
}

.mail-Img {
    width: 24px;
    position: absolute;
    right: 4.7%;
    top: 11.640px;
}

.password-input-div {
    width: 70.56%;
    height: 48px;
    margin-bottom: 24px; 
    border-radius: 10px;
    display: flex;
    align-items: center;
    position: relative;
}

.password-input-div .log-input {
    font-size: clamp(1rem, 0.929rem + 0.357vw, 1.25rem);
    vertical-align:text-bottom; 
}

.confirm-pw-input-div {
    width: 70.56%;
    height: 48px;
    margin-bottom: 0px; 
    border-radius: 10px;
    display: flex;
    align-items: center;
    position: relative;
}

.password-Img {
    width: 24px;
    position: absolute;
    right: 4.7%;
    top: 11.640px;
}

.password-Img-eye-of {
    width: 24px;
    position: absolute;
    right: 20px;
    top: 11.640px;
    display: none;
    cursor: pointer;
}

.password-Img-eye-on {
    width: 24px;
    position: absolute;
    right: 20px;
    top: 11.640px;
    display: none;
    cursor: pointer;
}

.no-match-confirm-message {
    width: 70%;
    margin-bottom: 16px;
    font-size: clamp(0.75rem, 0.732rem + 0.089vw, 0.813rem);
    color: rgba(255, 129, 144, 1);
    opacity: 0;
}

.accept-priv-box-div {
    width: 231;
    height: 24px;
    gap: 3px;
    display: flex;
    align-items: center;
}

.accept-box-input {
    appearance: none;
    -webkit-appearance: none;
    border: none;
    outline: none;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-image: url(../assets/icons/check-box-normal.svg);
    background-color: rgba(255, 255, 255);
    cursor: pointer;
    transition: transform 0.1s ease, background-image 0.1s ease;
}

.accept-box-input:hover {
    border: none;
    outline: none;
    background-color: rgb(237, 242, 250,1);
    transform: translate(0.5px, 0.5px);
    background-image: url(../assets/icons/check-box-normal-hover.svg);
}

.accept-box-input:active {
    transform: translate(0.5px, 0.5px);
    border: none;
    outline: none;
}

.accept-box-input:checked {
    border: none;
    outline: none;
    background-image: url(../assets/icons/check-box-checked.svg);
}

.accept-box-input:checked:hover {
    border: none;
    outline: none;
    background-color: rgb(237, 242, 250,1);
    background-image: url(../assets/icons/check-box-checked-hover.svg);
}

.accept-box-input:focus {
    outline: none; 
}

.acc-priv-box-label {
    font-size: 16px;
    font-weight: 400;
    color: rgba(168,168,168,1);
}

.privacy-policy {
    color: rgba(41, 171, 226, 1);
    cursor: pointer;
}

.privacy-policy:hover {
    text-decoration: underline rgba(41, 171, 226, 1);
    text-decoration: underline 1px;
    text-underline-offset: 3px;
}

.sign-up-final-button {
    width: 126px;
    height: 55px;
    margin-top: 30px;
    border: none;
    color: rgba(255,255,255,1);
    background-color: rgba(42, 54, 71, 1);
    border-radius: 8px;
    font-size: 21px;
    font-weight: 700;
    text-decoration:none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.sign-up-final-button:hover {
    background-color: rgba(41, 171, 226, 1);
    box-shadow: 0px 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.sign-up-final-button:active {
    background-color:  rgba(9, 25, 49,1);
    box-shadow: 0px 4px 4px 0 rgba(0, 0, 0, 0.25);
}

footer {
    width: 598px;
    height: 35px;
    position: absolute;
    top: unset;
    bottom: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.footer-element-left {
    font-size: 16px;
    font-weight: 400;
    color: rgb(168, 168, 168);
    text-decoration: none;
    cursor: pointer;
}

.footer-element-right {
    font-size: 16px;
    font-weight: 400;
    color: rgb(168, 168, 168);
    text-decoration: none;
    margin-left: 8px;
    cursor: pointer;
}

.footer-element-right:hover {
    color: rgba(41, 171, 226, 1);
}

.footer-element-left:hover {
  color: rgba(41, 171, 226, 1);
}

#signUpFinalButton:hover:disabled {
    background-color: rgba(42, 54, 71, 1);
    box-shadow: none;
    cursor: unset;
}

.validation-message {
    position: absolute;
    margin-top: 8px;
    margin: 0;
    bottom: 0;
    transform: translate(0, 110%);
    color: rgba(255, 129, 144, 1);
    font-size: 0.8em;
}

.validate-input:invalid {
    border: 1px solid rgba(255, 0, 31, 1);
}

.validate-input:invalid ~ .validation-message {
    visibility: unset;
}

#accPrivacyBox {
    position: relative;
}

#privacyCheckbox {
    border: none;
}

.v-hidden {
    visibility: hidden;
}

