body {
    width: 100%;
    margin: 0;
    max-width: 1440px;
    overflow: auto;
    font-family: "Inter", sans-serif;
    background-color: rgb(246,247,248,1);
}

::-webkit-scrollbar {
    background-color: rgb(246,247,248,1);
    width: 8px;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(42, 54, 71, 1);  
    border: none;
}

a {
    text-decoration: none;
}

.dummy_header {
    position: absolute;
    top: 0px;
    width: 100%;
    height: 96px;
    background-color: darkblue;
}

.dummy_menu {
    position: absolute;
    top: 0px;
    width: 232px;
    height: 1024px;
    background-color: rgba(63, 63, 151, 0.5);
}

.title-div {
    margin-left: 328px;
    margin-top: 200px;
    width: 625px;
    height: 73px;
    display: flex;
}

.title {
    margin: 0;
    font-size: 61px;
    font-weight: bolder;
    width:264px;
}

.divider {
    width: 3px;
    margin-left: 28px;
    background-color: rgb(41,171,226);
}

.sub-title {
    font-weight: normal;
    font-size: 27px;
    margin-left: 6%;
    width: 301px;
    height: 32px;
}

.main-div {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.tasks-div {
    width: 560px;
    height: 562px;
    margin-left: 328px;
    display: flex;
    flex-direction: column;
}

.to-do-indicator-div {
    width: 560px;
    height: 168px;
    display: flex;
}

.to-do-div {
    width: 264px;
    height: 168px;
    margin-right: 30px;
    box-shadow: 0px 0px 4px 0px  rgba(0, 0, 0, 0.1); 
    border-radius: 30px;
    background-color: rgba(255,255,255);
    color: rgba(42, 54, 71, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    cursor: pointer;
}

.to-do-div:hover {
    color: rgba(255,255,255,1);
    box-shadow: 0px 4px 4px 0 rgba(0, 0, 0, 0.25);
    background-color: rgba(42, 54, 71, 1);
    transform: scale(1.06);
}

.to-do-div:hover .pencil-div-blue{
    display: none;
}

.to-do-div:hover .pencil-div-white{
    display: block;
}

.to-do-div:hover .amount {
    color: rgba(255,255,255,1);
}

.to-do-div:active {
    transform: none;
    box-shadow: 0px 4px 4px 0 rgba(0, 0, 0, 0.25);
    background-color: rgba(255,255,255);
}

.to-do-div:active .pencil-div-blue{
    display: block;
}

.to-do-div:active .pencil-div-white{
    display: none;
}

.to-do-div:active .amount {
    color: rgba(0, 0, 0, 1);
}

.no-gap {
    gap: 0;
}

.to-do {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
}

.pencil-div-blue {
    width: 69px;
    height: 69px;
    border: none;
    border-radius: 50%;
    background-color: rgba(42, 54, 71, 1);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    display: block;
}

.pencil-white {
    position: absolute;
    top:18px;
    left: 19px;
}

.pencil-div-white {
    width: 60px;
    height: 60px;
    border: none;
    border-radius: 50%;
    background-color: rgba(255,255,255,1);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    display: none;
}

.pencil-blue {
    position: absolute;
    top:13px;
    left: 13px;
}

.to-do-amount {
    height: 101px;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    text-align:end;
}

.amount {
    height: 77px;
    font-size: 64px;
    color: rgba(0, 0, 0, 1);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 140px; 
    transition: font-size 0.3s ease;
}

.amount-with-three{
    padding-left:18px;
    padding-right:5px;   
    box-sizing: border-box;
}

.amount.enable-hover:hover {
    font-size: 32px;
    max-width: none;
    margin-right: 8px;
    margin-top: 31px;
}

.amount.enable-hover:hover::after {
    display: inline;
}

.to-do-amount-undertitle {
    margin-left: 5px;
}

span {
    font-size:64px;
    font-weight: bold;
    margin: 0;
}

h3 {
    font-size: 20px;
    margin: 0;
    font-weight: 400;
}

.done-div {
    width: 264px;
    height: 168px;
    background-color: rgba(255,255,255);
    color: rgba(42, 54, 71, 1);
    box-shadow: 0px 0px 4px 0px  rgba(0, 0, 0, 0.1); 
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    cursor: pointer;
}

.done-div:hover {
    box-shadow: 0px 4px 4px 0 rgba(0, 0, 0, 0.25);
    background-color: rgba(42, 54, 71, 1);
    color: rgba(255,255,255,1);
    transform: scale(1.06);
}

.done-div:hover .vector-div-blue{
    display: none;
}

.done-div:hover .vector-div-white{
    display: block;
}

.done-div:hover .amount {
    color: rgba(255,255,255,1);
}

.done-div:active {
    transform: none;
    box-shadow: 0px 4px 4px 0 rgba(0, 0, 0, 0.25);
    background-color: rgba(255,255,255);
    color: rgba(42, 54, 71, 1);
}

.done-div:active .vector-div-blue{
    display: block;
}

.done-div:active .vector-div-white{
    display: none;
}

.done-div:active .amount {
    color: rgba(0, 0, 0, 1);
}

.done {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
}

.vector-div-blue {
    width: 69px;
    height: 69px;
    border: none;
    border-radius: 50%;
    background-color: rgba(42, 54, 71, 1);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.vector-white {
    width: 37px;
    height: 30px;
    position: absolute;
    top:19px;
    left: 16px;
}

.vector-div-white {
    width: 60px;
    height: 60px;
    border: none;
    border-radius: 50%;
    background-color: rgba(255,255,255,1);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    display: none;
}

.vector-blue {
    width: 37px;
    height: 30px;
    position: absolute;
    top:15px;
    left: 12px;
}

.check-amount {
    height: 101px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.to-do-urgency-div {
    width: 560px;
    height: 168px;
    margin-bottom: 30px;
    margin-top: 30px;
    border-radius: 30px;
    box-shadow: 0px 0px 4px 0px  rgba(0, 0, 0, 0.1);
    background-color: rgba(255,255,255);
    color: rgba(42, 54, 71, 1);
    display: flex;
    align-items: center;
    cursor: pointer;
}

.to-do-urgency-div:hover {
    box-shadow: 0px 4px 4px 0 rgba(0, 0, 0, 0.25);
    background-color: rgba(42, 54, 71, 1);
    color: rgba(255,255,255,1);
    transform: scale(1.06);
}

.to-do-urgency-div:hover .amount {
    color: rgba(255,255,255,1);
}

.to-do-urgency-div:active {
    transform: none;
    box-shadow: 0px 4px 4px 0 rgba(0, 0, 0, 0.25);
    background-color: rgba(255,255,255);
    color: rgba(42, 54, 71, 1);
}

.to-do-urgency-div:active .amount {
    color: rgba(0, 0, 0, 1);
}

.urgency-div {
    width: 263px;
    height: 168px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.urgency {
    height: 96px;
    gap: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.urgency-img-div {
    width: 69px;
    height: 69px;
    border: none;
    border-radius: 50%;
    background-color:rgb(255, 61, 0, 1);
    display: flex;
    align-items: center;
    justify-content: center;
}

.urgency-amount {
    height: 101px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.urgency-divider {
    width: 2px;
    height: 102.02px;
    background-color: rgb(209, 209, 209);
}

.deadline-div {
    width: 296px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.deadline {
    height: 57px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 13px;
}

h4 {
    font-size: 21px;
    font-weight: 700;
    margin: 0;
}

small {
    font-size: 16px;
    font-weight: 400;
}

.tasks-counter-div {
    width: 560px;
    height: 168px;
    gap: 28px;
    display: flex;
}

.t-in-board-div {
    width: 168px;
    height: 168px;
    background-color: rgba(255,255,255);
    box-shadow: 0px 0px 4px 0px  rgba(0, 0, 0, 0.1); 
    border-radius: 30px;
    color: rgba(42, 54, 71, 1);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.t-in-board-undertitle {
    text-align: center;
}

.t-in-board-div:hover {
    box-shadow: 0px 4px 4px 0 rgba(0, 0, 0, 0.25);
    background-color: rgba(42, 54, 71, 1);
    color: rgba(255,255,255,1);
    transform: scale(1.06);
}

.t-in-board-div:hover .amount {
    color: rgba(255,255,255,1);
}

.t-in-board-div:active {
    transform: none;
    box-shadow: 0px 4px 4px 0 rgba(0, 0, 0, 0.25);
    background-color: rgba(255,255,255);
    color: rgba(42, 54, 71, 1);
}

.t-in-board-div:active .amount {
    color: rgba(0, 0, 0, 1);
}

.t-in-board {
    height: 125px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.t-in-board-amount {
    color: rgba(0, 0, 0, 1);
}

.t-in-progress-div {
    width: 168px;
    height: 168px;
    background-color: rgba(255,255,255);
    box-shadow: 0px 0px 4px 0px  rgba(0, 0, 0, 0.1); 
    color: rgba(42, 54, 71, 1);
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.t-in-progress-div:hover {
    box-shadow: 0px 4px 4px 0 rgba(0, 0, 0, 0.25);
    background-color: rgba(42, 54, 71, 1);
    color: rgba(255,255,255,1);
    transform: scale(1.06);
}

.t-in-progress-div:hover .amount {
    color: rgba(255,255,255,1);
}

.t-in-progress-div:active {
    transform: none;
    box-shadow: 0px 4px 4px 0 rgba(0, 0, 0, 0.25);
    background-color: rgba(255,255,255);
    color: rgba(42, 54, 71, 1);
}

.t-in-progress-div:active .amount {
    color: rgba(0, 0, 0, 1);
}

.t-in-progress {
    width: 83px;
    height: 125px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.awaiting-feedback-div {
    width: 168px;
    height: 168px;
    background-color: rgba(255,255,255);
    box-shadow: 0px 0px 4px 0px  rgba(0, 0, 0, 0.1); 
    border-radius: 30px;
    color: rgba(42, 54, 71, 1);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.awaiting-feedback-div:hover {
    box-shadow: 0px 4px 4px 0 rgba(0, 0, 0, 0.25);
    background-color: rgba(42, 54, 71, 1);
    color: rgba(255,255,255,1);
    transform: scale(1.06);
}

.awaiting-feedback-div:hover .amount {
    color: rgba(255,255,255,1);
}

.awaiting-feedback-div:active {
    transform: none;
    box-shadow: 0px 4px 4px 0 rgba(0, 0, 0, 0.25);
    background-color: rgba(255,255,255);
    color: rgba(42, 54, 71, 1);
}

.awaiting-feedback-div:active .amount {
    color: rgba(0, 0, 0, 1);
}

.awaiting-feedback {
    width: 83px;
    height: 125px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.feedback-amount {
    color: rgba(0, 0, 0, 1);
}

.greetings-div {
    width: 550px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.greting {
    font-size: 47px;
    font-weight: 500;
}

.greeted-name {
    font-size: 64px;
    font-weight: 700;
    color: rgba(41, 171, 226, 1);
}

@media(max-width:1350px){
    
}