html {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-tap-highlight-color: transparent;
  }

body {
    width: 100%;
    height: 100vh;
    margin: 0;
    font-family: "Inter", sans-serif;
    background-color: rgb(246,247,248,1);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rotate-message {
    display: none;
    font-size: clamp(1rem, 0.446rem + 2.768vw, 2.938rem);
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }
  
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #2a4872;
    background: linear-gradient(180deg, #315e9e, #2a3647);
    border-radius: 10px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(180deg, #3971c0, #293d58);
    cursor: pointer;
  }

a {
    text-decoration: none;
    padding: 0px;
    margin: 0px;
}

.greetings-frame-responsive {
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    position: fixed;
    z-index: 999;
    display: flex;
    justify-content: center;
    display: none;
}

.greetings-div-responsive {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.greeting-responsive {
    font-size: clamp(2.125rem, 1.769rem + 1.781vw, 2.938rem);
    font-weight: 400;
    margin-top: 10%;
    margin-left: 20%;
}

.greeted-name-responsive {
    font-size: clamp(2.813rem, 2.374rem + 2.192vw, 3.813rem);
    font-weight: 700;
    color: rgb(41,171,226);
    margin-left: 20%;
}

.main-frame-div {
    width: 100%;
    height: 100%;
    max-width: 1440px;
    display: flex;
    position: relative;

}

.under-frame-div {  
    width: 100%;   
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.title-and-main-display-resposive  {
    display: block;
}

.title-frame-div {
    width: 100%;
    height: 233px;
    display: flex;
    flex-direction: column;
}

.title-div {
    margin-top: 106px;
    margin-left: 96px;
    height: 73px;
    display: flex;
}

.title {
    margin-right: 20px;
    font-size: 61px;
    font-weight: bolder;
}

.title-360 {
    margin: 0;
    font-size: 61px;
    font-weight: bolder;
}

.divider-subtitle-div {
    display: flex;
    align-items: center;
}

.divider {
    width: 3px;
    height: 59px;
    margin-left: 25px;
    margin-right: 25px;
    background-color: rgb(41,171,226);
}

.sub-title {
    font-weight: 400;
    font-size: 27px;
    height: 32px;
}

.main-div {
    width: 100%;
    display: flex;
    background-color: aqua;
}

.tasks-div {
    width: clamp(24.75rem, 17.697rem + 26.367vw, 35rem);
    aspect-ratio: 1 / 0.6364;
    margin-left: clamp(1rem, -2.441rem + 12.862vw, 6rem);
    display: flex;
    flex-direction: column;
}

.a-frame {
    padding: 0;
    margin: 0;
}

.to-do-indicator-div {
    width: clamp(24.75rem, 17.697rem + 26.367vw, 35rem);
    display: flex;
    justify-content: space-between;
}

.to-do-div {
    width: clamp(11.625rem, 8.27rem + 12.54vw, 16.5rem);
    aspect-ratio: 1 / 0.6364;
    box-shadow: 0px 0px 4px 0px  rgba(0, 0, 0, 0.1); 
    border-radius: clamp(1.25rem, -0.602rem + 9.259vw, 1.875rem);
    background-color: rgba(255,255,255);
    color: rgba(42, 54, 71, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    cursor: pointer;
}

.to-do-div:hover {
    color: rgba(255,255,255,1);
    box-shadow: 0px 4px 4px 0 rgba(0, 0, 0, 0.25);
    background-color: rgba(42, 54, 71, 1);
    transform: scale(1.06);
}

.to-do-div:hover .pencil-div-blue-frame{
    display: none;
}

.to-do-div:hover .pencil-div-white-frame{
    display: block;
}

.to-do-div:hover .amount {
    color: rgba(255,255,255,1);
}

.to-do-div:active {
    transform: none;
    box-shadow: 0px 4px 4px 0 rgba(0, 0, 0, 0.25);
    background-color: rgba(255,255,255);
}

.to-do-div:active .pencil-div-blue-frame{
    display: block;
}

.to-do-div:active .pencil-div-white-frame{
    display: none;
}

.to-do-div:active .amount {
    color: rgba(0, 0, 0, 1);
}

.to-do-div:active .to-do-amount-undertitle {
    color: rgba(42, 54, 71, 1);
}

.to-do {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: clamp(0.625rem, 0.367rem + 0.965vw, 1rem);
    aspect-ratio: 1 / 0.638;
}

.pencil-div-blue-frame {
    display: block;
} 

.pencil-div-blue {
    width: clamp(2.5rem, 1.253rem + 4.662vw, 4.313rem);
    aspect-ratio: 1 / 1;
    border: none;
    border-radius: 50%;
    background-color: rgba(42, 54, 71, 1);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pencil-white {
    width: clamp(1.523rem, 0.765rem + 2.834vw, 2.625rem);
    height: auto;
}

.pencil-white-resp {
    width: clamp(1.523rem, 0.765rem + 2.834vw, 2.625rem);
    height: auto;
    display: none;
}

.pencil-div-white-frame{
    display: none;
}


.pencil-div-white {
    width: clamp(2.5rem, 1.253rem + 4.662vw, 4.313rem);
    aspect-ratio: 1 / 1;
    border: none;
    border-radius: 50%;
    background-color: rgba(255,255,255,1);
    display: flex;
    align-items: center;
    justify-content: center;
}

.pencil-blue {
    width: clamp(1.523rem, 0.765rem + 2.834vw, 2.625rem);
    height: auto;
}

.pencil-blue-resp {
    width: clamp(1.523rem, 0.765rem + 2.834vw, 2.625rem);
    height: auto;
    display: none;
}

.to-do-amount {
    height: 101px;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    text-align:end;
}

.amount {
    height: 77px;
    font-size: clamp(2.938rem, 2.206rem + 2.733vw, 4rem);
    color: rgba(0, 0, 0, 1);
    overflow: hidden;
    white-space: nowrap;
    max-width: 140px; 
    transition: font-size 0.3s ease;
}

.amount span.plus-sign {
    font-size:clamp(1rem, 0.781rem + 1.096vw, 1.5rem);
    font-weight: normal;
}

.to-do-amount-undertitle {
    margin-left: 5px;
}

span {
    font-size:clamp(2.938rem, 2.206rem + 2.733vw, 4rem);
    font-weight: bold;
    margin: 0;
}

h3 {
    font-size: clamp(0.875rem, 0.617rem + 0.965vw, 1.25rem);
    margin: 0;
    font-weight: 400;
}

.done-div {
    width:  clamp(11.625rem, 8.27rem + 12.54vw, 16.5rem);
    aspect-ratio: 1 / 0.6364;
    background-color: rgba(255,255,255);
    color: rgba(42, 54, 71, 1);
    box-shadow: 0px 0px 4px 0px  rgba(0, 0, 0, 0.1); 
    border-radius: clamp(1.25rem, -0.602rem + 9.259vw, 1.875rem);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    cursor: pointer;
}

.done-div:hover {
    box-shadow: 0px 4px 4px 0 rgba(0, 0, 0, 0.25);
    background-color: rgba(42, 54, 71, 1);
    color: rgba(255,255,255,1);
    transform: scale(1.06);
}

.done-div:hover .vector-div-blue-frame{
    display: none;
}

.done-div:hover .vector-div-white-frame{
    display: block;
}

.done-div:hover .amount {
    color: rgba(255,255,255,1);
}

.done-div:active {
    transform: none;
    box-shadow: 0px 4px 4px 0 rgba(0, 0, 0, 0.25);
    background-color: rgba(255,255,255);
    color: rgba(42, 54, 71, 1);
}

.done-div:active .vector-div-blue-frame{
    display: block;
}

.done-div:active .vector-div-white-frame{
    display: none;
}

.done-div:active .amount {
    color: rgba(0, 0, 0, 1);
}

.done {
    display: flex;
    justify-content: space-between;
    align-items: center;
    aspect-ratio: 1 / 0.638;
    gap: clamp(0.625rem, 0.367rem + 0.965vw, 1rem);
}

.vector-div-blue-frame {
    display: block;
}

.vector-div-blue {
    width: clamp(2.5rem, 1.253rem + 4.662vw, 4.313rem);
    aspect-ratio: 1 / 1;
    border: none;
    border-radius: 50%;
    background-color: rgba(42, 54, 71, 1);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.vector-white {
    width: clamp(1.325rem, 0.645rem + 2.54vw, 2.313rem);
    height: auto;
}

.vector-div-white-frame {
    display: none;
}

.vector-div-white {
    width: clamp(2.5rem, 1.253rem + 4.662vw, 4.313rem);
    aspect-ratio: 1 / 1;
    border: none;
    border-radius: 50%;
    background-color: rgba(255,255,255,1);
    display: flex;
    align-items: center;
    justify-content: center;
}

.vector-blue {
    width: clamp(1.325rem, 0.645rem + 2.54vw, 2.313rem);
    aspect-ratio: 1 / 1;
}

.check-amount {
    height: 101px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.to-do-urgency-div {
    width: clamp(24.75rem, 17.641rem + 26.452vw, 35rem);
    aspect-ratio: 1 / 0.3;
    margin-bottom: clamp(1.125rem, 0.609rem + 1.929vw, 1.875rem);
    margin-top: clamp(1.125rem, 0.609rem + 1.929vw, 1.875rem);
    border-radius: clamp(1.25rem, -0.602rem + 9.259vw, 1.875rem);
    box-shadow: 0px 0px 4px 0px  rgba(0, 0, 0, 0.1);
    background-color: rgba(255,255,255);
    color: rgba(42, 54, 71, 1);
    display: flex;
    align-items: center;
    cursor: pointer;
}

.to-do-urgency-div:hover {
    box-shadow: 0px 4px 4px 0 rgba(0, 0, 0, 0.25);
    background-color: rgba(42, 54, 71, 1);
    color: rgba(255,255,255,1);
    transform: scale(1.06);
}

.to-do-urgency-div:hover .amount {
    color: rgba(255,255,255,1);
}

.to-do-urgency-div:active {
    transform: none;
    box-shadow: 0px 4px 4px 0 rgba(0, 0, 0, 0.25);
    background-color: rgba(255,255,255);
    color: rgba(42, 54, 71, 1);
}

.to-do-urgency-div:active .amount {
    color: rgba(0, 0, 0, 1);
}

.urgency-div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.urgency {
    width: clamp(11.25rem, 7.766rem + 13.023vw, 16.313rem);
    aspect-ratio: 1 / 0.35;
    gap: clamp(0.625rem, 0.367rem + 0.965vw, 1rem);
    display: flex;
    justify-content: center;
    align-items: center;
}

.urgency-img-div {
    width: clamp(2.5rem, 1.253rem + 4.662vw, 4.313rem);
    aspect-ratio: 1 / 1;
    border: none;
    border-radius: 50%;
    background-color:rgb(255, 61, 0, 1);
    display: flex;
    align-items: center;
    justify-content: center;
}

.urgency-img {
    width: clamp(1.325rem, 0.645rem + 2.54vw, 2.313rem);
    aspect-ratio: 1 / 1;
}

.urgency-amount {
    height: 101px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.urgency-divider {
    width: 2px;
    height: 102.02px;
    background-color: rgb(209, 209, 209);
}

.deadline-div {
    width: clamp(12.938rem, 8.938rem + 14.952vw, 18.75rem);
    display: flex;
    align-items: center;
    justify-content: center;
}

.deadline {
    height: 57px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: clamp(0.5rem, 0.285rem + 0.804vw, 0.813rem);
}

h4 {
    font-size: clamp(1rem, 0.785rem + 0.804vw, 1.313rem);
    font-weight: 700;
    margin: 0;
}

small {
    font-size: clamp(0.875rem, 0.789rem + 0.322vw, 1rem);
    font-weight: 400;
}

.tasks-counter-div {
    width: clamp(24.75rem, 17.697rem + 26.367vw, 35rem);
    display: flex;
    justify-content: space-between;
}

.t-in-board-div {
    width: clamp(7.25rem, 5.014rem + 8.36vw, 10.5rem);
    aspect-ratio: 1 / 1;
    background-color: rgba(255,255,255);
    box-shadow: 0px 0px 4px 0px  rgba(0, 0, 0, 0.1); 
    border-radius: clamp(1.25rem, -0.602rem + 9.259vw, 1.875rem);
    color: rgba(42, 54, 71, 1);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.t-in-board-undertitle {
    text-align: center;
}

.t-in-board-div:hover {
    box-shadow: 0px 4px 4px 0 rgba(0, 0, 0, 0.25);
    background-color: rgba(42, 54, 71, 1);
    color: rgba(255,255,255,1);
    transform: scale(1.06);
}

.t-in-board-div:hover .amount {
    color: rgba(255,255,255,1);
}

.t-in-board-div:active {
    transform: none;
    box-shadow: 0px 4px 4px 0 rgba(0, 0, 0, 0.25);
    background-color: rgba(255,255,255);
    color: rgba(42, 54, 71, 1);
}

.t-in-board-div:active .amount {
    color: rgba(0, 0, 0, 1);
}

.t-in-board {
    aspect-ratio: 1 / 1.1;
    max-height: 125px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.t-in-board-amount {
    color: rgba(0, 0, 0, 1);
}

.t-in-progress-div {
    width: clamp(7.25rem, 5.014rem + 8.36vw, 10.5rem);
    aspect-ratio: 1 / 1;
    background-color: rgba(255,255,255);
    box-shadow: 0px 0px 4px 0px  rgba(0, 0, 0, 0.1); 
    color: rgba(42, 54, 71, 1);
    border-radius: clamp(1.25rem, -0.602rem + 9.259vw, 1.875rem);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.t-in-progress-div:hover {
    box-shadow: 0px 4px 4px 0 rgba(0, 0, 0, 0.25);
    background-color: rgba(42, 54, 71, 1);
    color: rgba(255,255,255,1);
    transform: scale(1.06);
}

.t-in-progress-div:hover .amount {
    color: rgba(255,255,255,1);
}

.t-in-progress-div:active {
    transform: none;
    box-shadow: 0px 4px 4px 0 rgba(0, 0, 0, 0.25);
    background-color: rgba(255,255,255);
    color: rgba(42, 54, 71, 1);
}

.t-in-progress-div:active .amount {
    color: rgba(0, 0, 0, 1);
}

.t-in-progress {
    aspect-ratio: 1 / 1;
    max-height: 125px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.awaiting-feedback-div {
    width: clamp(7.25rem, 5.014rem + 8.36vw, 10.5rem);
    aspect-ratio: 1 / 1;
    background-color: rgba(255,255,255);
    box-shadow: 0px 0px 4px 0px  rgba(0, 0, 0, 0.1); 
    border-radius: clamp(1.25rem, -0.602rem + 9.259vw, 1.875rem);
    color: rgba(42, 54, 71, 1);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.awaiting-feedback-div:hover {
    box-shadow: 0px 4px 4px 0 rgba(0, 0, 0, 0.25);
    background-color: rgba(42, 54, 71, 1);
    color: rgba(255,255,255,1);
    transform: scale(1.06);
}

.awaiting-feedback-div:hover .amount {
    color: rgba(255,255,255,1);
}

.awaiting-feedback-div:active {
    transform: none;
    box-shadow: 0px 4px 4px 0 rgba(0, 0, 0, 0.25);
    background-color: rgba(255,255,255);
    color: rgba(42, 54, 71, 1);
}

.awaiting-feedback-div:active .amount {
    color: rgba(0, 0, 0, 1);
}

.awaiting-feedback {
    aspect-ratio: 1 / 1;
    max-height: 125px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.feedback-amount {
    color: rgba(0, 0, 0, 1);
}

.greetings-div {
    width: 45.85%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#greetingSummary.greeting {
    font-size: 47px;
    font-weight: 500;
}

.greeted-name {
    font-size: 64px;
    font-weight: 700;
    color: rgba(41, 171, 226, 1);
}

@media(max-width:1280px){

    .greetings-div {
       display: none;
    }
}

@media(max-width: 1010px) {

    .main-frame-div {
        width: 100%;
        max-width: 1440px;
        height: 100vh;
        display: flex;
        flex-direction: column-reverse;
        justify-content: start;
        position: relative;
    }

    .greeting-responsive {
        font-size: clamp(2.125rem, 1.769rem + 1.781vw, 2.938rem);
        font-weight: 400;
        margin-top: 0;
        margin-left: 0;
    }
    
    .greeted-name-responsive {
        font-size: clamp(2.813rem, 2.374rem + 2.192vw, 3.813rem);
        font-weight: 700;
        color: rgb(41,171,226);
        margin-left: 0;
    }

    .menu-summary-div {
        position: fixed;
        /* height: 80px; */
        width: 100%;
        top: unset;
        bottom: 0;
        left: 0;
    }

    .menu-nav-item {
        justify-content: center;
    }

    .menu-nav-text {
        margin-top: 8px;
        margin-bottom: 0;
    }

    .under-frame-div {
        width: 100%;      
        display: flex;
        flex-direction: column;
        justify-content: start;
    }

    .title-frame-div {
        width: 100%;
        height: 186px;
        margin-bottom: 26px;
        display: flex;
        flex-direction: column;
        align-items:start;
    }


    .title-div {
        width: 51.86%;
        height: 104px;
        margin-top: 42px;    
        margin-left: clamp(1rem, -2.441rem + 12.862vw, 6rem);
        display: flex;
        margin-bottom: 35px;
        flex-direction: column;
        justify-content: baseline;
        gap: clamp(0.5rem, 0.156rem + 1.286vw, 1rem);
    }

    .title {
        padding: 0;
        height: auto;
        font-size: clamp(2.938rem, 2.565rem + 1.386vw, 3.813rem);
        margin-right: 2.8%;
    }
    
    .title-360 {
        height: auto;
        font-size: clamp(2.938rem, 2.565rem + 1.386vw, 3.813rem);
    }
    
    
    .divider-subtitle-div {
        display: flex;
        flex-direction: column-reverse;
        align-items: baseline;
        gap: clamp(0.5rem, 0.156rem + 1.286vw, 1rem);
    }

    .divider {
        width: 40.36%;
        height: 3px;
        margin-left: 0px;
        margin-right: 0px;
        background-color: rgb(41,171,226);
    }
    
    .sub-title {
        margin: 0;
        font-weight: 400;
        font-size: clamp(1.25rem, 1.064rem + 0.693vw, 1.688rem);
        width: 301px;
        height: 32px;
    }

    .main-div {
        width: 100%;
        height: 559px;
        overflow: auto;
        background-color: aqua;
    }

    .amount {
        height: auto; 
    }    
    
}

@media (max-height: 500px) and (max-width: 945px) and (orientation: landscape) {

    .landscape-div {
        display: none;
    }
    .rotate-message {
        height: 50vh;
        color: rgba(41, 171, 226, 1);
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        font-size: clamp(1rem, 0.446rem + 2.768vw, 2.938rem);
        padding: 20px;
    }
}

@media (max-height: 500px) and (max-width: 945px) and (orientation: portrait) {
    
    .landscape-div {
        display: block;
    }
    .rotate-message {
        display: none;
    }
}


@media(max-width:850px) {

    .title-frame-div {
        margin-bottom: 36px;
    }


    .title-div {
        margin-top: 52px;    
    }

    .urgency-divider {
        height: 91px;
    }

    .t-in-board-div {
        width: clamp(7.25rem, 5.014rem + 8.36vw, 10.5rem);
        aspect-ratio: 1 / 1.01;
    }

    .t-in-progress-div {
        width: clamp(7.25rem, 5.014rem + 8.36vw, 10.5rem);
        aspect-ratio: 1 / 1.01;
    }

    .awaiting-feedback-div {
        width: clamp(7.25rem, 5.014rem + 8.36vw, 10.5rem);
        aspect-ratio: 1 / 1.01;
    }

}

@media(max-width:650px) {

    .pencil-white {
        width: clamp(1.523rem, 0.765rem + 2.834vw, 2.625rem);
        height: auto;
        display: none;
    }
    
    .pencil-white-resp {
        width: clamp(1.523rem, 0.765rem + 2.834vw, 2.625rem);
        aspect-ratio: 1/0.8;
        display: block;
    }

    .pencil-blue {
        width: clamp(1.523rem, 0.765rem + 2.834vw, 2.625rem);
        height: auto;
        display: none;
    }
    
    .pencil-blue-resp {
        width: clamp(1.523rem, 0.765rem + 2.834vw, 2.625rem);
        aspect-ratio: 1/0.8;
        display: block;
    }

    .urgency-divider {
        height: 68px;
    }

    .t-in-board-div {
        width: clamp(7.25rem, 5.014rem + 8.36vw, 10.5rem);
        aspect-ratio: 1 / 1.013;
    }

    .t-in-progress-div {
        width: clamp(7.25rem, 5.014rem + 8.36vw, 10.5rem);
        aspect-ratio: 1 / 1.013;
    }

    .awaiting-feedback-div {
        width: clamp(7.25rem, 5.014rem + 8.36vw, 10.5rem);
        aspect-ratio: 1 / 1.013;
    }

}

@media(max-width: 500px) {
    /* #menuNavContainer {
        margin-top: 7px;
    } */
}

@media(max-width:430px) {

    .title-div {  
        margin-left: 16px;
    }

    .tasks-div {
        width: clamp(18.938rem, 2.028rem + 84.545vw, 24.75rem);
        aspect-ratio: 1 / 0.6364;
        margin-left: 16px;
        margin-right: 0;
    }

    .amount {
        height: auto;
        font-size: clamp(2rem, -0.727rem + 13.636vw, 2.938rem);
    }

    h3 {
        font-size: clamp(0.75rem, 0.386rem + 1.818vw, 0.875rem);
    }

    .to-do-indicator-div {
        width: clamp(18.938rem, 2.028rem + 84.545vw, 24.75rem);
    }

    .to-do-div {
        width: clamp(9.063rem, 1.608rem + 37.273vw, 11.625rem);
        aspect-ratio: 1 / 0.5926;
    }

    .done-div {
        width: clamp(9.063rem, 1.608rem + 37.273vw, 11.625rem);
        aspect-ratio: 1 / 0.5926;
    }

    .to-do-urgency-div {
        width: clamp(18.938rem, 2.028rem + 84.545vw, 24.75rem);
        aspect-ratio: 1 / 0.24;
    }

    .urgency-div {
        aspect-ratio: 1 / 0.28165;
    }

    .urgency {
        width: clamp(8.875rem, 1.42rem + 37.273vw, 11.438rem);
        aspect-ratio: 1 / 0.35;
    }

    .deadline-div {
        width: clamp(9.875rem, 0.986rem + 44.444vw, 12.875rem);
    }
    
    .deadline {
        height: 57px;
        gap: 6px;
    }

    h4 {
        font-size: clamp(0.75rem, 0.009rem + 3.704vw, 1rem);
        font-weight: 500;
        margin: 0;
    }
    
    small {
        font-size: clamp(0.625rem, -0.116rem + 3.704vw, 0.875rem);
        font-weight: 400;
    }

    .tasks-counter-div {
        width: clamp(18.938rem, 2.028rem + 84.545vw, 24.75rem);
    }

    .t-in-board-div {
        width: clamp(5.563rem, 0.653rem + 24.545vw, 7.25rem);
        aspect-ratio: 1 / 1.0024;
    }

    .t-in-progress-div {
        width: clamp(5.563rem, 0.653rem + 24.545vw, 7.25rem);
        aspect-ratio: 1 / 1.0024;
    }

    .awaiting-feedback-div {
        width: clamp(5.563rem, 0.653rem + 24.545vw, 7.25rem);
        aspect-ratio: 1 / 1.0024;
    }

}

@media(max-width:370px) {

    .urgency-divider {
        height: 60px;
    }

    .t-in-board-div {
        width: clamp(5.563rem, 0.653rem + 24.545vw, 7.25rem);
        aspect-ratio: 1 / 1.0030;
    }

    .t-in-progress-div {
        width: clamp(5.563rem, 0.653rem + 24.545vw, 7.25rem);
        aspect-ratio: 1 / 1.0030;
    }

    .awaiting-feedback-div {
        width: clamp(5.563rem, 0.653rem + 24.545vw, 7.25rem);
        aspect-ratio: 1 / 1.0030;
    }

}

@media(max-width:330px) {

    .t-in-board-div {
        width: clamp(5.563rem, 0.653rem + 24.545vw, 7.25rem);
        aspect-ratio: 1 / 1.135;
    }

    .t-in-progress-div {
        width: clamp(5.563rem, 0.653rem + 24.545vw, 7.25rem);
        aspect-ratio: 1 / 1.135;
    }

    .awaiting-feedback-div {
        width: clamp(5.563rem, 0.653rem + 24.545vw, 7.25rem);
        aspect-ratio: 1 / 1.135;
    }

}

@media(max-height:740px) and (max-width: 1010px) {

    .title-frame-div {
        width: 100%;
        height: 116px;
        margin-bottom: 32px;
        display: flex;
        flex-direction: column;
        align-items:start;
    }
    
    .title-div {
        height: 104px;
        margin-top: 16px;    
        margin-left: clamp(1rem, -2.441rem + 12.862vw, 6rem);
        display: flex;
        margin-bottom: 0px;
    }
}

@media (min-width: 1020px) and (max-height: 800px) {

    body {
        overflow: auto;
        /* max-height: auto; */
        height: 100%;
    }

    .main-frame-div {
        height: 100%;
    }

    .title-frame-div {
        width: 100%;
        height: 104px;
        margin-bottom: 8px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .title-div {
        height: 104px;
        margin-top: 8px;    
        margin-left: clamp(1rem, -2.441rem + 12.862vw, 6rem);
        display: flex;
        align-items: center;
        margin-bottom: 0px;
    }
}

@media(max-width: 350px) {
    .menu-nav-item {
        scale: 0.95;
    }
  }

.menu-nav-item[data-filename="summary_user.html"] {
    background-color: var(--clr-menu-selected);
}

