@media (height < 600px) and (1010px < width) {
    .menu-nav-item {
        padding: 0 var(--spacing-left) !important;
    }
}


@media(max-height:910px) and (min-width:1010px){
    
    .tasks-div-frame {
        height: 60vh;
        overflow-x: hidden ;
        overflow-y: scroll;
    }

    .tasks-div {
        height: 590px;
        padding-bottom: 100px;
    }
}

@media(max-height:600px) and (min-width:1010px) {
    
    .tasks-div {
        padding-bottom: 150px;
    }
}

@media(max-height:500px) and (min-width:1010px) {
    
    body {
        height: 1024px;
        overflow: scroll;
    }

    .tasks-div-frame {
        width: 100%;
        height: 100%;
        overflow: hidden;
    }

    .tasks-div {
        padding-bottom: 0;
    }
}

@media(max-height:955px) and (max-width:1010px) and (min-width:376px){

    .tasks-div-frame {
        width: 100%;
        height: 490px;
        overflow-x: hidden ;
        overflow-y: scroll;
    }

    .tasks-div {
        padding-bottom: 20px;
    }

}

@media(max-height:890px) and (max-width:1010px) and (min-width:376px){

    .tasks-div-frame {
        width: 100%;
        height: 440px;
        overflow-x: hidden ;
        overflow-y: scroll;
    }

    
}

@media(max-height:850px) and (max-width:1010px) and (min-width:376px){

    .tasks-div-frame {
        width: 100%;
        height: 400px;
        overflow-x: hidden ;
        overflow-y: scroll;
    }
}

@media(max-height:800px) and (max-width:1010px) and (min-width:376px){

    .tasks-div-frame {
        width: 100%;
        height: 370px;
        overflow-x: hidden ;
        overflow-y: scroll;
    }

    
}

@media(max-height:770px) and (max-width:1010px) and (min-width:376px){

    .tasks-div-frame {
        width: 100%;
        height: 330px;
        overflow-x: hidden ;
        overflow-y: scroll;
    }
}

@media(max-height:740px) and (max-width:430px) and (min-width:376px) {

    .tasks-div-frame {
        width: 100%;
        height: unset;
        overflow-x: hidden ;
        overflow-y: hidden;
    }

}

@media(max-height:730px) and (max-width:1010px) and (min-width:431px) {

    .tasks-div-frame {
        width: 100%;
        height: 290px;
        overflow-x: hidden ;
        overflow-y: scroll;
    }

}

@media(max-height:700px) and (max-width:1010px) and (min-width:431px) {

    .tasks-div-frame {
        width: 100%;
        height: 260px;
        overflow-x: hidden ;
        overflow-y: scroll;
    }
}

@media(max-height:670px) and (max-width:1010px) and (min-width:431px) {

    .tasks-div-frame {
        width: 100%;
        height: 230px;
        overflow-x: hidden ;
        overflow-y: scroll;
    }
}

@media(max-height:680px) and (max-width:430px) and (min-width:376px) {

    .tasks-div-frame {
        width: 100%;
        height: 330px;
        overflow-x: hidden ;
        overflow-y: scroll;
    }

}


@media(max-height:640px) and (max-width:1010px) and (min-width:421px) {

    .tasks-div-frame {
        width: 100%;
        height: 200px;
        overflow-x: hidden ;
        overflow-y: scroll;
    }

    .tasks-div {
        padding-bottom: 50px;
    }
}

@media(max-height:650px) and (max-width:430px) and (min-width:376px) {

    .tasks-div-frame {
        width: 100%;
        height: 300px;
        overflow-x: hidden ;
        overflow-y: scroll;
    }

}

@media(max-height:610px) and (max-width:1010px) and (min-width:431px) {

    .tasks-div-frame {
        width: 100%;
        height: 170px;
        overflow-x: hidden ;
        overflow-y: scroll;
    }

}

@media(max-height:620px) and (max-width:430px) and (min-width:376px) {

    .tasks-div-frame {
        width: 100%;
        height: 270px;
        overflow-x: hidden ;
        overflow-y: scroll;
    }

}

@media(max-height:580px) and (max-width:1010px) and (min-width:431px) {

    .tasks-div-frame {
        width: 100%;
        height: 140px;
        overflow-x: hidden ;
        overflow-y: scroll;
    }

}

@media(max-height:590px) and (max-width:430px) and (min-width:376px) {

    .tasks-div-frame {
        width: 100%;
        height: 240px;
        overflow-x: hidden ;
        overflow-y: scroll;
    }

}

@media(max-height:550px) and (max-width:1010px) and (min-width:431px) {

    .tasks-div-frame {
        width: 100%;
        height: 105px;
        overflow-x: hidden ;
        overflow-y: scroll;
    }

}

@media(max-height:550px) and (max-width:430px) and (min-width:376px) {

    .tasks-div-frame {
        width: 100%;
        height: 200px;
        overflow-x: hidden ;
        overflow-y: scroll;
    }

}

@media(max-width:1400px){

    .main-div {
        position: relative;
    }

    .greetings-div {
        height: 100%;
        position: absolute;
        right: 20px;
        margin-left:0;
    }
    .tasks-div-frame {
        width: 60%;
     }
}

@media(max-width:1370px){

    .tasks-div-frame {
        width: 62%;
     }
}

@media(max-width:1340px){

    .tasks-div-frame {
        width: 65%;
     }
}

@media(max-width:1280px){

    .greetings-div {
       display: none;
    }

    .tasks-div-frame {
       width: 100%;
    }
}

@media(max-width: 1010px) {

    .main-frame-div {
        width: 100%;
        max-width: 1440px;
        height: 100vh;
        display: flex;
        flex-direction: column-reverse;
        justify-content: start;
        position: relative;
    }

    .nav-header {
        height: unset;
        align-items: center;
    }

    .greeting-responsive {
        font-size: clamp(2.125rem, 1.769rem + 1.781vw, 2.938rem);
        font-weight: 400;
        margin-top: 0;
        margin-left: 0;
    }
    
    .greeted-name-responsive {
        font-size: clamp(2.813rem, 2.374rem + 2.192vw, 3.813rem);
        font-weight: 700;
        color: rgb(41,171,226);
        margin-left: 0;
    }

    .menu-summary-div {
        position: fixed;
        width: 100%;
        top: unset;
        bottom: 0;
        left: 0;
    }

    .menu-nav-item {
        justify-content: center;
    }

    .menu-nav-text {
        margin-top: 8px;
        margin-bottom: 0;
    }

    .under-frame-div {
        width: 100%;      
        display: flex;
        flex-direction: column;
        justify-content: start;
    }

    .title-frame-div {
        width: 100%;
        margin-bottom: 26px;
        display: flex;
        flex-direction: column;
        align-items:start;
    }


    .title-div {
        width: 51.86%;
        height: 104px;
        margin-top: 43px;    
        margin-left: clamp(1rem, -2.441rem + 12.862vw, 6rem);
        display: flex;
        margin-bottom: 35px;
        flex-direction: column;
        justify-content: baseline;
        gap: clamp(0.5rem, 0.156rem + 1.286vw, 1rem);
    }

    .title {
        padding: 0;
        height: auto;
        font-size: clamp(2.938rem, 2.565rem + 1.386vw, 3.813rem);
        margin-right: 2.8%;
    }
    
    .title-360 {
        height: auto;
        font-size: clamp(2.938rem, 2.565rem + 1.386vw, 3.813rem);
    }
    
    
    .divider-subtitle-div {
        display: flex;
        flex-direction: column-reverse;
        align-items: baseline;
        gap: clamp(0.5rem, 0.156rem + 1.286vw, 1rem);
    }

    .divider {
        width: 40.36%;
        height: 3px;
        margin-left: 0px;
        margin-right: 0px;
        background-color: rgb(41,171,226);
    }
    
    .sub-title {
        margin: 0;
        font-weight: 400;
        font-size: clamp(1.25rem, 1.064rem + 0.693vw, 1.688rem);
        width: 301px;
        height: 32px;
    }

    
    .amount {
        height: auto; 
    }    
    
}
@media(max-width:850px) {

    .title-frame-div {
        margin-bottom: 36px;
    }

    .urgency-divider {
        height: 91px;
    }

    .t-in-board-div {
        width: clamp(7.25rem, 5.014rem + 8.36vw, 10.5rem);
        aspect-ratio: 1 / 1.01;
    }

    .t-in-progress-div {
        width: clamp(7.25rem, 5.014rem + 8.36vw, 10.5rem);
        aspect-ratio: 1 / 1.01;
    }

    .awaiting-feedback-div {
        width: clamp(7.25rem, 5.014rem + 8.36vw, 10.5rem);
        aspect-ratio: 1 / 1.01;
    }

}

@media(max-width:650px) {

    .pencil-white {
        width: clamp(1.523rem, 0.765rem + 2.834vw, 2.625rem);
        height: auto;
        display: none;
    }
    
    .pencil-white-resp {
        width: clamp(1.523rem, 0.765rem + 2.834vw, 2.625rem);
        aspect-ratio: 1/0.8;
        display: block;
    }

    .pencil-blue {
        width: clamp(1.523rem, 0.765rem + 2.834vw, 2.625rem);
        height: auto;
        display: none;
    }
    
    .pencil-blue-resp {
        width: clamp(1.523rem, 0.765rem + 2.834vw, 2.625rem);
        aspect-ratio: 1/0.8;
        display: block;
    }

    .urgency-divider {
        height: 68px;
    }

    .t-in-board-div {
        width: clamp(7.25rem, 5.014rem + 8.36vw, 10.5rem);
        aspect-ratio: 1 / 1.013;
    }

    .t-in-progress-div {
        width: clamp(7.25rem, 5.014rem + 8.36vw, 10.5rem);
        aspect-ratio: 1 / 1.013;
    }

    .awaiting-feedback-div {
        width: clamp(7.25rem, 5.014rem + 8.36vw, 10.5rem);
        aspect-ratio: 1 / 1.013;
    }

}

@media(max-width:430px) {

    .title-div {  
        margin-left: 16px;
    }

    .tasks-div {
        width: clamp(18.938rem, 2.028rem + 84.545vw, 24.75rem);
        aspect-ratio: 1 / 0.6364;
        margin-left: 16px;
        margin-right: 0;
    }

    .amount {
        height: auto;
        font-size: clamp(2rem, -0.727rem + 13.636vw, 2.938rem);
    }

    h3 {
        font-size: clamp(0.75rem, 0.386rem + 1.818vw, 0.875rem);
    }

    .to-do-indicator-div {
        width: clamp(18.938rem, 2.028rem + 84.545vw, 24.75rem);
    }

    .to-do-div {
        width: clamp(9.063rem, 1.608rem + 37.273vw, 11.625rem);
        aspect-ratio: 1 / 0.5926;
    }

    .done-div {
        width: clamp(9.063rem, 1.608rem + 37.273vw, 11.625rem);
        aspect-ratio: 1 / 0.5926;
    }

    .to-do-urgency-div {
        width: clamp(18.938rem, 2.028rem + 84.545vw, 24.75rem);
        aspect-ratio: 1 / 0.24;
    }

    .urgency-div {
        aspect-ratio: 1 / 0.28165;
    }

    .urgency {
        width: clamp(8.875rem, 1.42rem + 37.273vw, 11.438rem);
        aspect-ratio: 1 / 0.35;
    }

    .deadline-div {
        width: clamp(9.875rem, 0.986rem + 44.444vw, 12.875rem);
    }
    
    .deadline {
        height: 57px;
        gap: 6px;
    }

    h4 {
        font-size: clamp(0.75rem, 0.009rem + 3.704vw, 1rem);
        font-weight: 500;
        margin: 0;
    }
    
    small {
        font-size: clamp(0.625rem, -0.116rem + 3.704vw, 0.875rem);
        font-weight: 400;
    }

    .tasks-counter-div {
        width: clamp(18.938rem, 2.028rem + 84.545vw, 24.75rem);
    }

    .t-in-board-div {
        width: clamp(5.563rem, 0.653rem + 24.545vw, 7.25rem);
        aspect-ratio: 1 / 1.0024;
    }

    .t-in-progress-div {
        width: clamp(5.563rem, 0.653rem + 24.545vw, 7.25rem);
        aspect-ratio: 1 / 1.0024;
    }

    .awaiting-feedback-div {
        width: clamp(5.563rem, 0.653rem + 24.545vw, 7.25rem);
        aspect-ratio: 1 / 1.0024;
    }

}

@media(max-width:370px) {

    .tasks-div {
        margin-left: 8px;
    }

    .urgency-divider {
        height: 60px;
    }

    .t-in-board-div {
        width: clamp(5.563rem, 0.653rem + 24.545vw, 7.25rem);
        aspect-ratio: 1 / 1.0030;
    }

    .t-in-progress-div {
        width: clamp(5.563rem, 0.653rem + 24.545vw, 7.25rem);
        aspect-ratio: 1 / 1.0030;
    }

    .awaiting-feedback-div {
        width: clamp(5.563rem, 0.653rem + 24.545vw, 7.25rem);
        aspect-ratio: 1 / 1.0030;
    }

}

@media(max-width:330px) {

    .tasks-div {
        margin-left: 8px;
    }

    .t-in-board-div {
        width: clamp(5.563rem, 0.653rem + 24.545vw, 7.25rem);
        aspect-ratio: 1 / 1.135;
    }

    .t-in-progress-div {
        width: clamp(5.563rem, 0.653rem + 24.545vw, 7.25rem);
        aspect-ratio: 1 / 1.135;
    }

    .awaiting-feedback-div {
        width: clamp(5.563rem, 0.653rem + 24.545vw, 7.25rem);
        aspect-ratio: 1 / 1.135;
    }

}

@media(max-width: 350px) {
    .menu-nav-item {
        scale: 0.95;
    }
  }

  @media(max-width:430px) and (max-height:740px) {

    .title-frame-div {
        width: 100%;
        margin-bottom: 24px;
        display: flex;
        flex-direction: column;
        align-items:start;
    }
    
    .title-div {
        height: 104px;
        margin-top: 4px;    
        margin-left: clamp(1rem, -2.441rem + 12.862vw, 6rem);
        display: flex;
        margin-bottom: 0px;
    }
}

@media(max-width:370px) and (max-height:650px) {

    .title-frame-div {
        height: 90px;
        margin-bottom: 0;
    }

    .title-div {
        height: 90px;
        gap: 6px;
        margin-bottom: 0;
    }

    .title {
        height: auto;
        font-size: 32px;
        margin-right: 2.8%;
    }
    
    .title-360 {
        height: auto;
        font-size: 36px;
    }
    
    
    .divider-subtitle-div {
        display: flex;
        flex-direction: column-reverse;
        align-items: baseline;
        gap: 2px;
    }

    .divider {
        width: 40.36%;
        height: 3px;
        margin-bottom: 0;
        margin-left: 0px;
        margin-right: 0px;
        background-color: rgb(41,171,226);
    }
    
    .sub-title {
        margin: 0;
        font-size: 16px;
        height: 24px;
    }

    .main-div {
        margin-top: 6px;
    }

    .tasks-div {
        height: 300px;
        margin-top: 0;
        margin-left: 8px;
    }

    .to-do-div {
        height: 90px;
   }

    .done-div {
        height: 90px;
    }

    .urgency-div {
        height: 90px;
    }
    .urgency-divider {
        height: 60px;
    }

    .t-in-board-div {
        width: clamp(5.563rem, 0.653rem + 24.545vw, 7.25rem);
        height: 90px;
    }

    .t-in-progress-div {
        width: clamp(5.563rem, 0.653rem + 24.545vw, 7.25rem);
        height: 90px;
    }

    .awaiting-feedback-div {
        width: clamp(5.563rem, 0.653rem + 24.545vw, 7.25rem);
        height: 90px;
    }


}

@media(max-height:567px) and (max-width:370px){
    
    .tasks-div-frame {
        width: 100%;
        height: 260px;
        overflow-x: hidden ;
        overflow-y: scroll;
    }

    .tasks-div {
        padding-bottom: 50px;
    }
}

@media(max-height:530px) and (max-width:370px){
    
    .tasks-div-frame {
        width: 100%;
        height: 230px;
        overflow-x: hidden ;
        overflow-y: scroll;
    }

    .tasks-div {
        padding-bottom: 50px;
    }
}

@media(max-height:650px) and (min-width:371px) and (max-width:375px){

    .tasks-div-frame {
        width: 100%;
        height: 300px;
        overflow-x: hidden ;
        overflow-y: scroll;
    }

    .tasks-div {
        padding-bottom: 50px;
    }
}

@media(max-height:620px) and (min-width:371px) and (max-width:375px){

    .tasks-div-frame {
        width: 100%;
        height: 270px;
        overflow-x: hidden ;
        overflow-y: scroll;
    }

    .tasks-div {
        padding-bottom: 50px;
    }
}

@media(max-height:590px) and (min-width:371px) and (max-width:375px){

    .tasks-div-frame {
        width: 100%;
        height: 240px;
        overflow-x: hidden ;
        overflow-y: scroll;
    }

    .tasks-div {
        padding-bottom: 50px;
    }
}

@media(max-height:560px) and (min-width:371px) and (max-width:375px){

    .tasks-div-frame {
        width: 100%;
        height: 210px;
        overflow-x: hidden ;
        overflow-y: scroll;
    }

    .tasks-div {
        padding-bottom: 50px;
    }
}

@media(max-height:525px) and (min-width:371px) and (max-width:375px){

    .tasks-div-frame {
        width: 100%;
        height: 190px;
        overflow-x: hidden ;
        overflow-y: scroll;
    }

    .tasks-div {
        padding-bottom: 50px;
    }
}
@media(max-height:500px) and (max-width:1010px) {
    
    body {
        height: 100vh;
        overflow: scroll;
        position: relative;
    }

    .tasks-div-frame {
        height: auto;
        overflow: hidden;
        padding: 0;
    }

    .menu-summary-div {
        position: static;
        width: 100%;
        top: unset;
        bottom: 0;
        left: 0;
    }
}

@media (max-height: 500px) and (max-width: 945px) and (orientation: landscape) {

    .landscape-div {
        display: none;
    }
    .rotate-message {
        height: 45vh;
        color: rgba(41, 171, 226, 1);
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        font-size: clamp(1rem, 0.446rem + 2.768vw, 2.938rem);
        padding: 20px;
    }

    .menu-summary-div {
        position: absolute;
        width: 100%;
        top: unset;
        bottom: 0;
        left: 0;
    }

}

@media (max-height: 500px) and (max-width: 945px) and (orientation: portrait) {
    
    .landscape-div {
        display: block;
    }
    .rotate-message {
        display: none;
    }
}