<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/header.css">
    <title>Header Join</title>
</head>
<body>
    <header >
        <div class="header-title">Kanban Project Management Tool</div>
        <nav>
            <img class="help-button" src="./assets/img/help-icon.svg">
            <div class="initials-circle"></div>
        </nav>
    </header>
</body>
</html>

